
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <link rel="stylesheet" href="/public/asset/style/estilo succesfull.css">
</head>

<body>
  <header>
    <h1>Registro de la libreria Lively</h1>
  </header>
  <!--  -->

  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Su  inicio ha sido exitoso</h5>
       <a class="btn btn-primary" href="index.html">Cerrar sesion</a>
      <!-- <button  class="btn btn-primary" id="cerrar">
        <a href="index.html">Cerrar sesion</a>
      </button> -->
    </div>
    <div class="card-footer text-muted"></div>
  </div>
  <!--  -->
  <!-- <h1>Bienvenido</h1> -->
  <!-- <button class="btn btn-outline-light btn-lg px-5" id="cerrar"> -->
  <!-- <a href="index.html">Cerrar sesion</a> -->
  <!-- </button> -->
  <script type="module" src="/app/cerrarSesion.js"></script>
  
</body>

</html>